services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SHOPIFY_STORE_ID: ${SHOPIFY_STORE_ID:-}
        SHOPIFY_SHOP_DOMAIN: ${SHOPIFY_SHOP_DOMAIN:-}
        SHOPIFY_CLIENT_ID: ${SHOPIFY_CLIENT_ID:-}
        SHOPIFY_OAUTH_REDIRECT_URI: ${SHOPIFY_OAUTH_REDIRECT_URI:-http://localhost:5173/callback}
        SHOPIFY_OAUTH_REDIRECT_URI_PROD: ${SHOPIFY_OAUTH_REDIRECT_URI_PROD:-https://account.ampriomilano.com/callback}
        SHOPIFY_API_VERSION: ${SHOPIFY_API_VERSION:-2026-01}
        SHOPIFY_APP_URL: ${SHOPIFY_APP_URL:-http://localhost:5173}
        SHOPIFY_APP_URL_PROD: ${SHOPIFY_APP_URL_PROD:-https://account.ampriomilano.com}
        SHOPIFY_BACKEND_URL: ${SHOPIFY_BACKEND_URL:-http://localhost:3601}
        SHOPIFY_BACKEND_URL_PROD: ${SHOPIFY_BACKEND_URL_PROD:-https://account.ampriomilano.com}
    container_name: shopify-account
    ports:
      - "3600:80"
    env_file:
      - ./.env
    restart: unless-stopped
